@model List<ACMWeb.Models.UserViewModel.UserViewModel>
    @{
    ViewData["Title"] = "User Management";
    Layout = "_LoggedInLayout";
    }


    @*<h2>Manage Admin User</h2>*@

    <div id="divList">

    </div>
    @section Scripts
    {
        <script type="text/javascript">
    $(function()
    {
    List();
    });
    function List() {
        $.ajax({
            method: "get",
            url: "@Url.Action("ManageStorePartialList", "Usermanagement")",
            success: function (result) {
                $('#divList').html(result);
            },
            error: function (err) {
                console.log(err);
            }
        });
            }
            function Save() {
                if (confirm("Are you sure you wish to save these changes")) {
                    $("form").submit();
                }
                else {
                    return false;
                }

            }
        function StatusChangeddd(id, status) {
            var stat = status == "Active" ? "Deactive" : "Active";
            if (confirm("Are you sure you want to "+stat+" this?")) {
                $.ajax({
            method: "get",
            url: "@Url.Action("PartialStatusChanged", "Usermanagement")",
               data: { id: id, status: status},
            success: function (result) {
                $('#divList').html(result);
            },
            error: function (err) {
                console.log(err);
            }
        });
            }
            else {
                return false;
            }
        //alert(123)

        }

        function EditStore(id) {

          $.ajax({
            method: "get",
            url: "@Url.Action("EditStore", "Usermanagement")",
               data: { id: id},
            success: function (result) {
                $('#divList').html(result);
            },
            error: function (err) {
                console.log(err);
            }
           });

        }
        function DeleteStore(id) {

            if (confirm("Are you sure you want to Delete this store?")) {
                $.ajax({
            method: "get",
            url: "@Url.Action("DeleteStore", "Usermanagement")",
               data: { id: id, status: status},
            success: function (result) {
                $('#divList').html(result);
            },
            error: function (err) {
                console.log(err);
            }
        });
            }
            else {
                return false;
            }
        //alert(123)

    }
        </script>
    }
