@model ACM.Core.Models.AccountViewModels.RegisterStoreViewModel
@{
    ViewData["Title"] = "Index";
    Layout = "_LoggedInLayout";
}<style>
    .note-editable {
        max-height: 200px !important;
        overflow: scroll !important;
    }

    .noteclass {
        max-width: 100px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .note-toolbar panel-heading {
        display: none !important;
    }

    .note-editable {
        min-height: 200px;
    }

        .note-editable p {
            margin: 0px !important;
        }
    </style>
<div class="row">
    <div class="col-xs-12">

        <div class="x_panel">

            <div class="x_title">
                <div class="signin-up-area">
                    <div class="form-cont">
                        <div class="form">
                            <form asp-route-returnUrl="@ViewData["ReturnUrl"]" method="post">
                                <div asp-validation-summary="All" class="text-danger"></div>
                                <h1 class="h3 mb-5 font-weight-bold"><span> @ViewData["Title"]</span></h1>
                                <div class="form-group">
                                    <div class="col-md-2">
                                        <label asp-for="Name"></label>
                                    </div>
                                        @*<input asp-for="id" type="hidden" class="form-control" />*@
                                       
                                        @*<input asp-for="Name" class="form-control" />*@
                                        <div class="col-md-10 no_border no-print" style="margin-bottom:10px;">
                                            <textarea id="Name" asp-for="Name" rows="16" class="form-control col-md-8 summernote">Name</textarea>
                                        </div>
                                        <span asp-validation-for="Name" class="text-danger"></span>
                                    </div>
                                    @*<div class="form-group">
            <label asp-for="Email"></label>
            @*<input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>*@
                                <div class="form-group">
                                    <div class="col-md-2">
                                        <label asp-for="Email"></label>
                                    </div>
                                    <div class="col-md-10 no_border no-print" style="margin-bottom:10px;">
                                        <textarea id="Email" asp-for="Email" rows="16" class="form-control col-md-8 summernote">Email</textarea>
                                    </div>
                                        <span asp-validation-for="Email" class="text-danger"></span>
                                    </div>
                                    @*<div class="form-group">
            <label asp-for="ConfirmPassword"></label>
            <input asp-for="ConfirmPassword" class="form-control" />
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>*@
                                    @*<div class="form-group">
            <label asp-for="Role"></label>
            @Html.DropDownListFor(m => m.Role, Model.roleList, new { @class = "form-control" })
            <span asp-validation-for="Role" class="text-danger"></span>
        </div>*@
                                    @*@if (string.IsNullOrWhiteSpace(Model.id))
        {
                        <button type="submit" class="btn btn-default">Register</button>
        }
        else
        {
                        <button type="button" class="btn btn-default" onclick="SavePopUp()">Save</button>
        }*@
                                    <a href="@Url.Action("ManageStore","UserManagement")" class="btn btn-default">Cancel</a>
</form>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>
@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
    <script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.4/summernote.js"></script>
    <script>
        $(document).ready(function () {
            $('.summernote').summernote({
                focus: true,
                toolbar: [
                    // [groupName, [list of button]]
                    ['style', ['undo', 'redo', 'bold', 'italic', 'underline', 'clear']],
                    ['font', ['strikethrough', 'superscript', 'subscript']],
                    ['fontsize', ['fontsize']],
                    ['color', ['color']],
                    ['para', ['ul', 'ol', 'paragraph', 'style']],
                    ['height', ['height']],
                    ['insert', ['table', 'hr']],
                    ['misc', [ 'codeview', 'help']]

                ]
            });
        });
        $(document).ready(function () {
            $(function () {

            })
        });
        $('[data-toggle="tooltip"]').tooltip();
    </script>
}


