@{
    ViewData["Title"] = "Assign Role";
    Layout = "_LoggedInLayout";
}
@model ACMWeb.Models.RoleViewModels.RoleViewModel

<div class="row">
    <div class="col-xs-12">

        <div class="x_panel">

            <div class="x_title">

                <div class="signin-up-area">
                    <div class="form-cont">
                        <div class="form">
                            <form asp-route-returnUrl="@ViewData["ReturnUrl"]" method="post">
                                <h4>Create a new account.</h4>
                                <hr />
                                <div asp-validation-summary="All" class="text-danger"></div>
                                <div class="form-group">
                                    <label asp-for="Role"></label>
                                    @Html.DropDownListFor(m => m.Role, Model.roleList, new { @class = "form-control" })
                                    <span asp-validation-for="Role" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="User"></label>
                                    @Html.DropDownListFor(m => m.User, Model.userList, new { @class = "form-control" })
                                    <span asp-validation-for="Role" class="text-danger"></span>
                                </div>
                                <button type="submit" class="btn btn-default">Register</button>
                            </form>
                        </div>
                    </div>
                </div>
                </div></div></div></div>
                @section Scripts {
                    @await Html.PartialAsync("_ValidationScriptsPartial")
                }
